*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif ;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 600;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color:white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s;

}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color:transparent;
    transition: 0.2;
    border: 1px solid white;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}
#logo{
    border-radius: 50%;
    width: 50%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#close{
    display: none;
}
#navbar li{
    position: relative;
    list-style-type: none;
    padding: 0 20px;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.03s ease;
    position: relative;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(5, 158, 107);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 65%;
    height: 2px;
    background: rgb(5, 158, 107);
    position: absolute;
    bottom: -4px;
    left: 2px;
}
#mobile{
    display: none;
    align-items: center;
}
#hero{
    background-image: url(image/hero.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
h4{
    padding-bottom: 15px;
}
h1{
    color: rgb(15, 158, 15);
}
#hero button{
    background-image:url(image/button.png) ;
    background-color: transparent;
    color: rgb(15, 158, 15);
    border: 0;
    padding: 14px 80px  14px 65px;
    background-repeat: no-repeat;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
width: 180px;
padding: 25px 15px;
text-align: center;
border: 1px solid rgb(146, 140, 140);
box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03)  ;
margin:15px 0;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0,0,0,0.2);
}
#feature .fe-box h6{
color: #088178;
line-height: 1;
background-color: #fddde4;
padding: 10px;
border-radius: 4px;
display: inline-block;
}
#product1{
    text-align: center;
}
#product1 .pro{
    width:23% ;
    min-width: 250px ;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
    margin: 15px 0;
    position: relative;
    transform: 0.2s ease;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px;
}
#product1 .pro .des span{
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px ;
    font-size: 14px;
    color: #1a1a1a;
}
#product1 .pro .des i{
    font-size: 14px;
    color: rgb(243,181,25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 50px;
    padding: 15px 10px 10px 8px;
    height: 50px;
    border-radius:100px;
    background-color: #e3e6f3;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 18px;
    right: 14px;
    font-size: 20px;

}
#product1 .pro-container{
display: flex;
justify-content: space-between ;
flex-wrap: wrap;
}
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url(image/b2.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size:cover ;
}
#banner h4{
    color: #fff;
}
#banner h2{
color: #fff;
font-size: 30px;
padding: 10px 0;
}
#banner h2 span {
    color:red ;
}
#banner button:hover{
    color:white;
    background-color: #088178;
}
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(image/b17.jpg);
    width: 550px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
}
#sm-banner .banner-box2{
    background-image: url(image/b10.jpg);
}
#sm-banner h2{
    color: white;
}
#sm-banner h4{
    color: white;
    font-size: 30px;
    font-weight: 300;
}
#sm-banner span{
color: white;
font-size: 14px;
font-weight: 600;
padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    color: white;
    background-color: #088178;
    
}
#banner-3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner-3 .banner-box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
background-image: url(image/b7.jpg);
background-size: cover;
background-position: center;
min-width: 30%;
height: 30vh;
padding: 20px;
margin-bottom: 20px;
}
#banner-3 h3{
    color: red;
    font-weight: 800;
}
#banner-3 h2{
    color: white;
    font-weight: 900;
    font-size: 22px;
}
#banner-3 .banner-box2{
    background-image: url(image/b4.jpg);  
}
#banner-3 .banner-box3{
    background-image: url(image/b18.jpg);  
}
#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-image: url(image/banner.png);
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    color: white;
    font-weight: 700;
}
#newsletter p{
    font-size: 18px;
    font: 600;
    color:#818ea0
}
#newsletter p span{
    color: rgb(235, 235, 32);
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    border: 1px solid transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    width: 100%;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h5{
    color: #1a1a1a;
    font-size: 18px;
    padding: 10px 0;
}
footer h6{
    font-size: 18px;
}

footer li{
    list-style-type: none;
    padding: 10px 0;
}

footer a{
    color:#8191b4eb;
    font-size: 18px;
    text-decoration: none;
}
footer p{
    font-size: 18px;
    margin: 0 0 8px 0;
    color:#8191b4eb;
}
footer .follow h5{
    font-size: 25px;
}
footer .icons i{
    color: black;
}
footer .col-install p{
    padding: 7px 0;
    color: #818ea0;
    cursor: pointer;
}
footer .row{
    padding-top: 3px;
}
footer .row img{
    border: 1px solid #818ea0;
    width: 30%;
    cursor: pointer;
}
footer .col-install img{
    cursor: pointer;
}
footer .icons i:hover,
footer a:hover,
footer p:hover{
    color: green;
}



@media only screen and (max-width:799px){
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:flex-start;
        position: fixed;
        top: 0;
        right:-255px;
        height: 100vh;
        width: 255px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.03);
        padding: 125px 0 0 10px ;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    } 
    #bag{
        display: none;
    }
    #close{
        display: flex;
        font-size: 30px;
        top: 0;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position:top 30% right 30% ;
    }
    #product1 .pro-container {
        justify-content: center;
        
    }
    #product1 .pro {
        margin: 15px;
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
        width: 100%;
        height: 30vh;
    }
    #banner-3 {
        padding: 0 40px;
    }
    #banner-3 .banner-box{
        width: 28%;
    }
    #newsletter .form {
        width: 68%;
    }   
}
    @media only screen and (max-width: 477px){
        .section-p1 {
            padding: 40px 18px;
    }
    #header {
        padding: 10px 30px ;
    }
    h2 {
        font-size: 32px;
    }
    h4 {
        font-size: 28px;
    }
    #hero {
        padding: 0 20px;
        background-position:60% ;
    }
    #feature {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 150px;
        padding: 25px 10px;
        margin: 10px ;
    }
    #product1 .pro-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    #product1 .pro {
        width: 100%;
        margin: 15px 0;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box{
        margin-top: 20px;
    }
    #banner-3 {
       padding: 0 20px;
    }
    #banner-3 .banner-box {
        width: 100%;
    }
    
    #newsletter .form {
        width: 100%;
    }
    #newsletter {
     padding: 40px 20px;
    }
}

